<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

<title> {{ page.title }} </title>
<link type = "text/css" rel = "stylesheet" href = "/css/main.css"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<body>
<nav>
  <ul>
    <li><a class = "about" href = "/index.html">about me</a></li>
    <li><a class = "course" href = "/course_material">course material</a></li>
    <li><a class = "projects" href = "/projects">projects</a></li>
    <li><a class = "blog" href = "/blog">blog</a></li>
    <li><a class = "vita" href = "/vita/Resume.pdf">vita</a></li>
    <li style="float:right"><a class = "contact" href = "/contact">contact</a></li>
  </ul>
</nav>

<br> 

<div class = "container">
  
{{content}}

</div><!-- /.container -->

</body>
</html>
